<h2 [class]="styleClass">This is a content styled with [class] binding</h2>
<button (click)="setStaticClass('static-blue')">Set [class]="static-blue"</button>
<button (click)="setStaticClass('static-red')">Set [class]="static-red"</button>
<button (click)="setStaticClass('')">Clear [class]</button>
<br>
<h2 class="theme-text">This content has fixed "theme-text" style</h2>
<button (click)="setScriptElement('compiled-theme-yellow')">Inject theme yellow script</button>
<button (click)="setScriptElement('compiled-theme-green')">Inject theme green script</button>
<button (click)="setScriptElement('')">Clear theme script</button>
